body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    background-color: #222121 ;
    color: white;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;

}

.header{
    display:flex;
    justify-content: space-around;
    font-size: 18px;
    
}

.logo{
    display:flex;
    font-size: 24px;
    align-items: center;
    padding: 0px 30px;
    border-radius: 15px;
    font-weight: bold;
}


.nav li{
    border-left: #E5E7EB solid;
    
}

.nav ul, a{
    display:flex;
    padding: 0px 30px;
    gap:50px;
    list-style: none;
    text-decoration: none;
    color: white;
}

.main{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 75px 5px;
    gap: 10px;
    
}

.left-side{
    max-width: 500px;
}


.left-side h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.left-side h4{
    font-size: 18px;
    color: #E5E7EB;
    word-spacing: 0.1em;
}

.right-side img{
    max-width: 500px;
}

.button{
    background-color: #3882F6;
    color: white;
    border: #3882F6 5px solid;
    border-radius: 5px;
    padding: 10px 50px;
    font-weight: 900;
    font-size: 15px;
    
}

.button:hover{
    background-color: #305283;
    border: #305283 5px solid;
}

.team{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
    background-color: #F9FAF8;
    color: #222121;
    align-items: center;
}

.team-grp{
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    
}

.title-team h2{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.container{
    border: solid #3882F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;  
    border-radius: 5px;
    font-size: 15px;
    word-spacing: 0.1em;
    max-width:250px;
    flex-shrink: 0;
}

.container p{
    margin: 20px;
}
.container img{ 
    max-width: 100px;
    margin: 20px;
}



